.row.center-xs.middle-xs.full-height.light-blue	
	.col-xs-12.col-sm-6
		.box
			%h1.logo-font.white-text DoctorsCo.net
			%p.top-space
				= link_to 'Iniciar Sesion', new_user_session_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent'	